.sliders{
    width: 600px;
}

.swiper-slide{
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}

.slide__img-01 img, .slide__img-02 img, .slide__img-03 img{
    height: 408px;
    width: 520px;
}



.slide__img-01, .slide__img-02, .slide__img-03{
    border-radius: 0.8rem;
    margin-bottom: 30px;
}

.slide__item h4{
    margin-bottom: 10px;
    color: var(--heading-color);
}

.slide__item h4 span{
    margin-top: 9px;
    display: flex;
   text-align: right;
    color: var(--heading-color);
}

.slide__item h4 i{
    color: rgb(217, 217, 3)
}

.slide__item p{
    color: var(--heading-color);
    line-height: 28px;
}

.sliders h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-align: center;
}