.modal_box{
   
    padding: 20px;
}

.modal_input{
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px 10px;
}

.btn-box{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.signup-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
}

.signup-btn:hover{
    background-color: #319131;
}