/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --primary-color: #4ca94c;
  --primary-color-disabled: #2a592a;
  --heading-color: #2a5b4c;
  --bg-gradient: linear-gradient(
    90deg,
    rgb(72, 145, 68) 27%,
    rgb(97, 216, 129) 85%
  );
  --font-name: "Questrial", sans-serif;

  /* 
        #9785f2
        #b5a9f3
        #d3cef2
        #d7337a
    */
}

/* reset default browser styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font-name);
  background: rgb(219, 241, 217);
}
html{
  scroll-behavior: smooth;
}


section{
  padding: 50px 0px;
}

a{
  text-decoration: none;
  color: unset;
}

a::hover{
  color: unset;
}

ul{
  list-style: none;
}

/* reusable class */

.container{
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}

.container_admin{
  width: 1140px;
  padding: 0px 15px;
  margin: 100px auto;
}

.title_admin{
  color: var(--heading-color);
  font-weight: 600;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: 60px;
}

.section__title{
  color: var(--heading-color);
  font-weight: 700;
}

